<?xml version="1.0" encoding="UTF-8"?>
<!--
    Please refer to machine.config.comments for a description and
    the default values of each configuration section.

    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->
<configuration>
	<system.webServer>
		<rewrite>
			<rules>

			 <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                        <match url="(.*)" />
                        <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        </conditions>
                        <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
                        </rule>
                <rule name="faq">
                    <match url="^faq$" />
                    <action type="Rewrite" url="faq.html" appendQueryString="false" />
                </rule>
			</rules>
		</rewrite>
		<asp>
         	<session allowSessionState="true" timeout="01:00:00" />
      	</asp>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
	</system.webServer>
  <system.web>
    <sessionState timeout="60" />
  </system.web>
</configuration>